@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Variedades Doña Evita es una empresa familiar ubicada en Tintala, en la localidad de Kennedy en Bogotá.</p>
<p>Dedicandose a la venta y comercialización de elmentos de papeleria como de diferentes elementos de uso familiar.</p>
<p>Adicional hace arreglos para fechas especiales, como su fuerte tiene un gran catalogo de anchetas con desayunos y detalles para esas personas especiales.</p>

<p>Pueden conocer mas de sus productos y servicios en su cuenta de Instagram</p>

<p>Maneja un horario de atención de 8am a 9 pm de Lunes a Domingo.</p>
