@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Variedades Doña Evita<br />
    Carrera 90 # 34A - 02<br />
    <abbr title="Telefono">P:</abbr>
    314 432 4484
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:ivan.numpaque@pi.edu.co">ivan.numpaque@pi.edu.co</a><br />
    <strong>Marketing:</strong> <a href="https://www.instagram.com/evita_variedades/">Instagram</a>
</address>