@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>Variedades Doña Evita</h1>
        <p class="lead">Esta aplicación es un control de inventario para la empresa Variedades Doña Evita</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Condiciones de uso &raquo;</a></p>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h2>Antes de empezar</h2>
            <p>
               Este software es diseñado de forma exclusiva y para uso de la empresa Variedades Doña Evita.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Aprender mas &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Sobre las librerias</h2>
            <p>Para desarrollar esta aplicación se implemento tecnologias de propiedad de Microsoft, con sus licencias de comunidad.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprender mas. &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>¿Donde esta almacenado?</h2>
            <p>Esta aplicacion esta almcenada de manera local, para uso exclusivo de Variedades Doña Evita.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Aprender mas &raquo;</a></p>
        </div>
    </div>